/* 
Color Palette:
    Green: #74974f;
    Red: #e3473a;
    White: #f3e8d8;
    Grey: #242721;
*/

:root
{
    --black:#252224;
    --white: #bfc3c5;
    --pink: #d66275;
    --brown: #b9964a;
}

body
{
    background-color: var(--black);
    font-family: Arial, sans-serif;
}

#title_div h1 
{
    color: var(--pink);
    text-shadow:1px 1px 0px var(--pink), 1px 1px 15px var(--pink);
}

#title_div
{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 50px;
    font-size: 020px;
}

#titleName_div
{
    color: var(--white);
    display: flex;
    gap: 50px;
    padding-left: 50px;
    font-size: 13px;
}

#content
{
    display: flex;
    font-size: 20px;
    color: var(--white);

}

.boxes
{
    width: 50%;
    border: 1px solid var(--white);
	padding: 10px;
	box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 0px
}

#query_p
{
    color: var(--brown);
}

select
{
    flex: 1;
    width: 125px;
    padding: 0 1em;
    color: var(--brown);
    background-color: var(--white);
    background-image: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    outline-color: var(--brown);
}

.select option
{
    background: var(--white);
    color: var(--black);
    border-bottom: 10em;
}